<h2>Product Details [id: {{products.id}}]</h2>

<div class="lineButtons">
  <a class="btn btn-default" (click)="goBack()">Retour</a>
  <a class="btn btn-info" (click)="goEdit(products.id)">Modifier</a>
</div>

<div class="panel panel-default">
    <div class="panel-heading">{{products.name}}</div>
    <div class="panel-body">
      <p>{{products.description}}</p>
    </div>
  
    <ul class="list-group">
      <li class="list-group-item">Brand : {{products.brand.name}}</li>
      <li class="list-group-item">Categories : {{products.categories[0].name}}</li>
      <li class="list-group-item"><img src="{{products.image}}" alt="image product"></li>
    </ul>
  </div>