<h2>Product Details</h2>

<div class="panel panel-default">
    <div class="panel-heading">{{products.name}}</div>
    <div class="panel-body">
      <p>...</p>
    </div>
  
    <ul class="list-group">
      <li class="list-group-item">{{products.description}}</li>
      <li class="list-group-item">Brand : {{products.brand.name}}</li>
      <li class="list-group-item">Categories : {{products.categories.name}}</li>
      <li class="list-group-item"><img src="{{products.image}}" alt="image product"></li>
    </ul>
  </div>

<div>
    <a class="btn btn-default" (click)="goBack()">Retour</a>
</div>